.form-container {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 320px;
}

h2 {
  color: #1d1d1d;
  margin-bottom: 1.8rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4a4a4a;
  font-size: 0.9rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #6c757d;
  box-shadow: 0 0 0 2px rgba(108, 117, 125, 0.25);
}

/* Botones */
button {
  background-color: #3a3f5c;
  color: #ffffff;
  padding: 5px 11px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #52587a;
}

button:active {
  background-color: #2a2f4a;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #28293d;
  color: #ffffff;
  margin: 20px 0;
}

table th,
table td {
  padding: 12px;
  text-align: left;

  text-align: center;
}

table th {
  background-color: #3a3f5c;
}

table tr:nth-child(even) {
  background-color: #33354d;
}

table tr:nth-child(odd) {
  background-color: #28293d;
}

table tr:hover {
  background-color: #3e405b;
}

td.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Menú lateral */
aside {
  width: 180px;
  background-color: #2a2d3e;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);

  border-right-color: #e0e0e0;
  border-right-width: 1px;
  border-right-style: solid;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 15px 0;
}

aside ul li a {
  color: #e0e0e0;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

aside ul li a:hover {
  background-color: #3a3f5c;
}

/* Contenido principal */
/* main {
  flex-grow: 1;
  padding: 20px;
  margin-left: 40px;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 100vh;
  overflow-y: auto;
} */

a {
  color: inherit;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #3a3f5c;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s;
}

.button:hover {
  background-color: #52587a;
}

.button:active {
  background-color: #2a2f4a;
}

.form-group ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre los elementos */
  justify-content: center;
}
.form {
  display: flex;
}

.form-group li {
  width: 40%;
}

.form-group input[type="checkbox"] {
  cursor: pointer;
}

.form-group label {
  color: black;
  font-weight: 500;
  margin-top: 10px;
}

.primerProduct {
  width: 50%;
}

.segundoProduct {
  width: 50%;
  margin: 70px;
}

main.panel {
  display: flex;
  justify-content: center;
  width: 50%;
}
/*  */
.amount {
  display: flex;
}
.contenedorPrincipal {
  display: flex;
}
.contenido {
  width: 500px;
}
@media (max-width: 480px) {
  /* Estilos para teléfonos pequeños */
  .form {
    width: 85%;
  }
  .search-bar {
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 63px;
  }
  nav {
    display: 0;
  }
  .user-actions {
    justify-content: flex-end;
  }
  .filters {
    flex-direction: column;
  }
  .slider {
    height: 77vh;
  }
  .product-detail {
    flex-direction: column;
    gap: 0;
  }
  h1,
  p {
    font-size: 12px;
  }
  .cart-items li {
    flex-direction: column;
  }
  .cart-items li img {
    width: 100px;
  }
  .product-info .price {
    margin-bottom: 2px;
  }
  .product-info .description {
    margin: 0;
  }
  select {
    font-size: 16px;
  }
  .idCompra {
    box-shadow: none !important;
    padding: 0;
  }
  .detallesDate {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  /* Estilos para celulares y tablets en vertical */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .icon-button {
    display: none; /* Ocultamos el icono en escritorio */
  }
  .slider {
    height: 87vh;
  }
  .footer {
    position: relative;
    top: 740px;
  }
  button {
    font-size: 18px;
  }
  p,
  span,
  h3 {
    font-size: 17px;
  }
  select {
    font-size: 20px;
  }
}
@media (min-width: 1025px) {
  /* Estilos para pantallas grandes */
  .cart-items li {
    flex-direction: column;
  }
  .cart-items li img {
    width: 100px;
  }
}
